<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.phonegap.meridianapp" version="1.0.0">
  <name>M Event</name>
  <description>M Event</description>
  <author href="http://e-solucije.com" email="hamzaze@hotmail.com">Hamza Hrnjicevic</author>
  <content src="index.html" />
    <access origin="http://www.meridianleadershipconference.com" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
  <icon src="icon.png"/>
  <preference name="DisallowOverscroll" value="true"/>
  <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
  <preference name="phonegap-version" value="cli-6.5.0" />
</widget>
<gap:config-file platform="android" parent="/manifest">
     <application android:debuggable="false" />
</gap:config-file>